.carousel {
  width: 900px;
  // height: 500px;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
}

#main-heading-without-margin-top {
  margin-top: 0;
  padding-top: 100px;
}

.gallery-container {
  height: 100vh;
}
