.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.services .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  max-width: 30%;
  transition: all 1s ease;
  margin-bottom: 40px;
}

.services .service i {
  font-size: 40px;
}

.services .service h2 {
  margin: 25px 0;
}

.services .service p {
  margin-bottom: 20px;
}

.services .service:hover {
  color: var(--primary-font-color);
  /* border: 1px dotted var(--primary-font-color); */
  scale: 1.05;
}
