.contacts {
  background-color: var(--secondary-font-color) !important;
  color: var(--primary-font-color) !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
  height: 90vh;
}

.contacts form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.form-controling {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.form-controling input,
.form-controling textarea {
  width: 350px !important;
  height: 30px !important;
  margin: 10px !important;
}

#message {
  height: 170px !important;
  resize: none !important;
}

.cont-img img {
  max-width: 302px !important;
}

form input:focus {
  outline: var(--primary-font-color);
  outline-offset: 1px;
  outline-style: inset;
}
form textarea:focus {
  outline: var(--primary-font-color);
  outline-offset: 1px;
  outline-style: inset;
}

.contacts label {
  cursor: pointer;
  font-size: 20px;
}

.icons-contact {
  height: 10vh;
  background-color: var(--secondary-font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
